@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0%;
    overflow-x: hidden;
}

body {
    background-color: #000000;
    font-family: "Ubuntu Sans Mono", sans-serif;
    font-optical-sizing: auto;
    color: white;
    padding: 0%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #00c3ff;
}

h2 {
    font-size: 36px;
    padding: 0%;
    margin: 0%;
}

nav{
    text-align: center;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: #ffffff0e;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card li {
    margin-bottom: 15px;
    font-size: 14px;
}

.card h3 {
    font-size: 20px;
    margin: 0%;
}
.carousel {
    display: flex;
    overflow: hidden;
    flex-direction: row;
} 

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px 30px;
    border-top: 2px solid #ffffff;
}

.name {
    font-size: 24px;
    text-align: center;
}

.name h1 {
    font-size: 100px;
    margin: 0%;
    text-align: center;
}

.name p {
    font-size: 24px;
    margin: 0%;
    text-align: center;
    margin-bottom: 10px;
}

.name a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
.name a:hover {
    color: #00c3ff;
}

.name div {
    margin: 100px 0px;
}

section a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
section a:hover {
    color: #00c3ff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff0e;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #ffffff0f;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    position: absolute;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.btn2 {
    font-size: 30px;
}   

 .contact div,
 .experience div{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
    width: 100%;
}

.experience p,
.experience h3{
    margin: 0px;
}
.experience h3{
    margin-top: 20px;
}

.skills div {
    text-align: left;
    width: 100%;
}
.skills div div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
}
.skills {
    width: 100%;
}

.card2 {
    background-color: #ffffff0e;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.card2 img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.card img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

span {
    font-size: 30px;
    margin: 0px;
}

@media screen and (max-width: 1500px) {
    .card {
        width: 80%;
    }
    .card2 {
        width: 80%;
    }
    .carousel {
        flex-direction: column;
    }
    .skills div div {
        flex-direction: column;
    }
    header {
        display: none;
    }
    .name h1 {
        font-size: 50px;
    }
    .name p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .skills {
        width: auto;
        overflow-x: auto;
    }
}