@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Croissant+One&family=Dela+Gothic+One&family=Inclusive+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --titlefont: 'Croissant One', cursive;
  --title-font: 'Cabin Sketch', cursive;
  --body-font: 'Inclusive Sans', sans-serif;
  --ux-font: 'Dela Gothic One', sans-serif; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #000000;
}

body .dark-mode {
  background-color: #000 !important;
  color: #ffffff;
}

/* Global Styles */
section {
  padding: 20px;
  background-color: #fff;
  border: 2px solid black;
}

.dark-mode section {
  background-color: #000;
  border-color: #fff;
  color: #ffffff;
}

h2 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.5;
}


/* Portfolio layout */
.dark-mode .portfolio {
  background-color: black; /* Set background to dark in dark mode */
}

.portfolio {
  margin: auto;
  padding: 40px;
  background-color: #ffffff; /* Set background to white in light mode */
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.header h1 {
  font-family: var(--title-font);
  font-size: 4rem;
}

.dark-mode .header h1,
.dark-mode .header p,
.dark-mode .social-icons a {
  color: #ffffff;
}

.header p {
  font-size: 1.2rem;
  color: #000000;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid black;
  width: fit-content;
}

.dark-mode .social-icons {
  background-color: #000;
  border-color: #fff;
}

.social-icons a {
  color: #000000;
  text-decoration: none;
  height: 30px;
}

.social-icons a:hover {
  color: #000;
}

.resume-link {
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  border: 2px solid black;
  width: fit-content;
}

.dark-mode .resume-link {
  background-color: #000;
  border-color: #fff;
  color: #ffffff;
}

.resume-link:hover {
  text-decoration: underline;
}

/* Cluster Styles */
.cluster {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sub-cluster {
  width: 60%;
}

/* About section */
.about {
  background-color: #fff;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  
}

.about p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.about-item {
  margin-bottom: 10px;
  gap: 5px;
}

.about-item p {
  padding: 0;
  margin: 0;
}

.about-item.last

.about-item-header {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  color: #b3b3b3 !important;
}

.about-item:last-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Experience section */
.experience {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.experience-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.experience-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  width: 33%;
}

.dark-mode .experience-item,
.dark-mode .skills-list .span,
.dark-mode .project-item {
  background-color: #000;
  border-color: #fff;
}

.experience-item h3 {
  font-family: var(--title-font);
  font-size: 1.3rem;
}

.experience-item p {
  font-size: 1rem;
  color: #777;
}

.experience-item .company {
  font-size: 1rem;
  color: #000;
}

.dark-mode .experience-item .company {
  color: #ffffff;
}

/* Skills section */
.skills {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list .span {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  flex-grow: 1;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  text-wrap: wrap;
  font-size: 1rem;
}


.skills-list .logo {
  width: 2.5rem;
  height: 2.5rem;
}
/* Projects section */
.projects {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  min-height: 300px;
  overflow-x: auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.project-item {
  background-color: #f0f0f0;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
}

.project-logo {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.dark-mode-toggle:hover {
  background-color: #000000;
  color: #ffffff;
}

/* SVG Styles */
svg {
  fill: currentColor; /* Use the current text color */
}

.dark-mode svg {
  fill: #ffffff; /* Change SVG color in dark mode */
}

/* Status Bar */
.status-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px 0;
}

.status-bar-fill {
  height: 10px;
  background-color: #76c7c0;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 1024px) {

  .span {
    width: 32% !important;
  }
}

@media (max-width: 768px) {

  .portfolio {
    padding: 20px;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1rem;
  }

  .about,
  .experience,
  .skills,
  .projects {
    padding: 10px;
  }

  .cluster {
    flex-direction: column;
    gap: 0;
  }

  .sub-cluster {
    width: 100%;
  }

  .experience-items {
    flex-direction: column;
  }

  .experience-item {
    width: 100%;
  } 

  .about {
    width: 100%;
  }
  .skills-list .span {
    padding: 8px 10px;
    font-size: 0.9rem;
    width: 100% !important;
  }
}
